:root {
  --light: white;
  --scndWhite: #f5f5f5;
  --dark: #161617;
}

@font-face {
  font-family: 'poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');
}

*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6, p{ 
  color: var(--dark);
  font-family: 'poppins', sans-serif;
}

.wrapper {
  flex: 1;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  background-color: #f5f5f5;
}

.bg-secondary {
  background-color: var(--light) !important;
}

.copyright {
  background-color: var(--scndWhite) !important;
  border-top: 2px solid grey;
}

.bg-primary {
  background-color: var(--dark) !important;
}


/* header */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #fff;
  font-weight: 800;
  transition: 0.5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content h1:hover{
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.content button {
  background-color: #F5F5F5;
  border-radius: 50px;
  width: 150px;
  height: 60px;
}

.content button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
}

.back-video {
  position: absolute;
  right: 50;
  bottom: 0;
  z-index: -1;
}

@media(min-aspect-ratio: 16/9){
  .back-video{
      width: 100%;
      height: auto;
  }
}
@media(max-aspect-ratio: 16/9){
  .back-video{
      width: auto;
      height: 100%;
  }
}

/* navbar */

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #121212;
  left: auto !important;
  right: 0px;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after{
  display: none;
}

.collapse .navbar-brand{
  font-family: 'EB Garamond', serif;
  color: #f5f5f5;
  letter-spacing: 2px;
  line-height: 1.35;
}

/* img-card */

.img-card{
  height: 18vw;
  object-fit: cover;
}

.card {
  height: 320px;
  border-radius: 18px;
  margin: 30px;
}

.card:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
}

a {
  color: var(--light) !important;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 8;
}

.family {
  padding: 10px 90px;
}

.highlight {
  padding: 60px 0px;
  align-items: center;
}

.highlight .grid-1, .grid-2, .grid-3 {
  border-radius: 12px;
  position: relative;
}


.text-wrap {
  padding: 30px;
}

.text-wrap h5{
  font-weight: 300;
}

.img-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.img-wrap img {
  width: 100%;
  height: auto;
  border-radius: 12px;

}

.box{
  display: flex;
  width: 90%;
  height: auto;
  max-height: 800px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out
}

.box img:hover {
  transform: scale(1.5);
}


/* card-carousel */

#carousel {
  position: relative;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* Hide the scrollbar for MS Edge */
  scrollbar-width: none;
  /* Hide the scrollbar for Mozilla Firefox */
  margin: 0;
  width: 1355px;
  height: fit-content;
  border: none;
  padding-bottom: 40px;
}

#carousel::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch;
  /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.item {
  min-width: 380px;
  min-height: 70vh;
  margin: 15px;
  background-color: white;
  border-radius: 18px;
  cursor: pointer;
}

.item-f {
  padding-left: 120px;
  background-color: #f5f5f5;
  pointer-events: none;
}

.item:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
  transition: all .4s cubic-bezier(0, 0, .5, 1);
  transform: scale(1.03);
}


.item .c-header {
  margin: 20px;
}

.c-header h5{
  padding-bottom: 20px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  
}

.c-header h2 {
  padding-bottom: 30px;
}

.item .c-footer {
  margin: 20px;
}

.item p,
button {
  display: inline !important;
}

.item p {
  padding-right: 20px;
}

.item button{
  border-radius: 50px;
}

.c-img {
  text-align: center;
}

.c-img img {
  width: 280px;
}

.btn-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.btn-hover {
  background-color: #161617;
  border: none;
  display: none;

  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn-hover a {
  text-decoration: none;
}

.item:hover .btn-hover {
  display: block;
}

.item:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
  transition: all .4s cubic-bezier(0, 0, .5, 1);
  transform: scale(1.03);
}



 /* bag */
 .item-prod {
  height: 250px;
 }

 .box-img-cart img {
  max-width: 300px;
  max-height:300px;
  object-fit: cover;
 }

 .item-prod .row .col-md-5{
  margin-top: 50px;
  padding-left: 80px;
 }
 .item-prod .row .col-md{
  margin-top:60px;
 }

 .text-danger:hover{
  color: #F5F5F5;
 }

 .back-button {
  position: absolute;
  top: 16%;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.back-button i {
  font-size: 20px;
}

.card-hero:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}
.card-hero:hover h1,
.card-hero:hover h2,
.card-hero:hover h4 {
  transform: scale(1.03);
  transition: all 0.4s cubic-bezier(0, 0, 0.5, 1);
}

.container-text p {
  font-weight: 400;
}
.container-text p:hover {
  text-decoration: underline;
}

.airpod-banner {
  height: 350px;
  align-items: center;
  margin: 50px auto; /* Add auto margin for horizontal centering */
  position: relative; 
  overflow: hidden; 
  border-radius: 25px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex; 
  justify-content: center;
}

.airpod-banner h1 {
  font-weight: 900;
  font-size: 230px;
  color: #121212;
  position: absolute; /* Set position to absolute */
  z-index: 0; /* Set z-index to place it behind the image */
}

.airpod-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 99;
}

.airpod .header {
  font-weight: 700;
  font-size: 50px;
}

